/*
Выбери цвета
https://colorscheme.ru/web-safe-colors.html
*/

* {
	margin: 0;
	background: rgb(0, 0, 51);
	color: rgb(153, 204, 255);
	font-weight: normal;
	font-family: Tahoma;
}
div {
	text-align: center;
	margin: 10px 0;
	color: rgb(204, 204, 204);
}
table {
	margin: 0 auto;
	width: 60%;	
}
th,
td {
	width: 50%;
}
th {
	text-align: right;	
}
a {
	text-decoration: none;
	margin-left: 10px;
	cursor: pointer;
	color: rgb(255, 255, 204);
}