<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>KA76 | Blog</title>
	<link rel="stylesheet" href="style.css">

	{{!-- Стиль для записей --}}
	<link rel="stylesheet" href="../style.css">

	<!-- Подсветка синтаксиса -->
	<link rel="stylesheet" href="../highlight/monokai-sublime.css">
	<script type ="application/javascript" src="../highlight/highlight.pack.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>

</head>
<body>

	<div class="header">
		<a href="http://kuznetsovandrey76.ru/">home</a>		
	</div>

	<div class="content">		
		<!-- Ссылается на шаблоны во views/ -->
		{{{body}}}
	</div>

	<div class="footer">
		<a href="/">blog</a>
		<a href="https://github.com/kuznetsovandrey76/kuznetsovandrey76-blog">github</a>
	</div>
</body>
</html>
