<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>KA76 | Blog</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="../style.css">
</head>
<body>
	<div class="header">
		<a href="http://kuznetsovandrey76.ru/">home</a>		
	</div>

	<div class="content">		
		<!-- Ссылается на шаблоны во views/ -->
		{{{body}}}
	</div>

	<div class="footer">
		<a href="/">blog</a>
		<a href="https://github.com/kuznetsovandrey76/kuznetsovandrey76-blog">github</a>
	</div>
</body>
</html>
