<div class="header">Hello World!</div>

<table>
	<tbody></tbody>
</table>

<script>
	var notes = "{{data}}".split(',');
</script>

{{!-- Заполняем таблицу --}}
<script src="update_table.js"></script>
<script src="event.js"></script>

