/*
Выбери цвета
https://colorscheme.ru/web-safe-colors.html
*/

* {
	margin: 0;
	color: rgb(153, 204, 255);
	font-weight: normal;
	font-family: Tahoma;
}
body {
	background: rgb(0, 0, 51);
	width: 100%;
}
.header,
.footer {
	text-align: center;
	margin: 10px 0;
}
table {
	margin: 0 auto;
	width: 60%;	
}
th,
td {
	width: 50%;
}
th {
	text-align: right;	
}
a {
	text-decoration: none;
	margin-left: 10px;
	cursor: pointer;
	color: rgb(255, 255, 204);
}
.footer a{
	font-size: 10px;
	color: rgb(204, 204, 204);
}
.note {
	text-align: center;
}
.note-article {
	font-weight: bold;
	margin-top: 10px;
}
pre {
	width: 40%;
	margin: 0 auto;
}
.javascript {
	text-align: left;
}