<div class="note">
	<p class="date">12.10.18</p>
	<p class="note-article">Time for rest and self-education</p>
	<p>Foxford - <a href="https://foxford.ru/courses/865/lessons/21957">Создание индивидуальных траекторий</a></p>  
	<p class="note-article">Time to work and business</p>
	<p>Vue.js</p>
	<p class="note-article">Time for yourself and family</p>
	<p>:)</p>
	<p class="note-article">Time for friends and art</p>
	<p>Зарядка 6:30-7:20</p>
</div>
