<div class="note">
	<p class="date">21.09.18</p>
	<p class="note-article">Education</p>
	<p>Много много буков. И еще....</p>
	<p class="note-article">Work</p>
	<p>Много много буков. И еще....</p>
	<p class="note-article">Lifestyle</p>
	<p>Много много буков. И еще....</p>
	<p class="note-article">Sport</p>
	<p>Много много буков. И еще....</p>
</div>
