<div class="note">
  <p class="date">24.09.18</p>

  {{!-- EDUCATION --}}
  <p class="note-article">Education</p>
  <p></p>
  <pre><code class="javascript"></code></pre>

  {{!-- WORK --}}
  <p class="note-article">Work</p>
  <p></p>

  {{!-- LIFESTYLE --}}
  <p class="note-article">Lifestyle</p>
  <p></p>

  {{!-- SPORT --}}
  <p class="note-article">Sport</p>
  <p>6:30-7:30 Зарядка</p>
</div>
